@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato:wght@300&family=Noto+Sans+Mono:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 350;
    color: #3a3a3a;
}


/* Heading and logos */

h1, h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #2f4f4f;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 20px;
}

/* Navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 100%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 45px;
    padding-top: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid rgba(147, 4, 147, 0.4);
    color: rgba(147, 4, 147, 0.4);
    font-weight: bolder;
}

/* Hero image and cover text */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    color: rgb(246, 240, 240);
}

#cover-text h2 {
    color: rgb(240, 231, 231);
}

#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;
    width: 100%;
    height: 650px;

    /* Animation zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 6s;
animation-fill-mode: forwards;
}

/* Create level of zoomfor hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: rgba(59, 43, 59, 0.6);
    
    top: 30px;
    right: 170px;

    position: absolute;

    width: 200px;
    height: 120px;

    padding-top: 30px;
    padding-left: 25px;

}

/* Ethos */

#ethos {
    height: 500px;
    background-color: rgb(19, 142, 161);
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
    font-weight: lighter;
}

#left-about {
    padding-top: 25px;
    width: 35%;
    float: left;
}

hr {
    border-top: 2px solid #2f4f4f;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

#right-about {
    padding-top: 25px;
    width: 55%;
    float: right;
}

/* Gallery */

.fotos {
    clear: both;
    line-height: 0;
    column-count:3;
    column-gap: 3;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.fotos h4 {
    color: #fff;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    top: 70px;
    padding-top: 20px;
    padding-left: 15px;
}

.join {
    height: 90%;
}

/* Contact section*/

#contact {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    padding: 10px 0 20px 0;
    margin: 20px 0 0 0;
}

#contact h2 {
    text-align: center;
    margin: 5px 0 10px 0;
}

.text-center {
    text-align: center;
    margin: 2% 0 1% 0;
    padding: 5px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1px;
}

.contact-box {
    text-align: center;
    margin: 2% 0 1% 0;
    padding: 5px;
}

.contact-box-address {
    text-align: center;
    margin: 2% 0 1% 0;
    padding: 5px;
}

/* Form*/

.form-section {
    clear: left;
    background: url("../images/signup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 15px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin:5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.click-button {
    display: block;
    margin-top: 15px;
    border-radius: 3px;
    text-align: center;
    font-size: 100%;
    background: transparent;
    color: #fafafa;
}

.click-button:hover {
    font-size: large;
    font-weight: bolder;
    color: black;
}

/* Footer */

footer {
    height: 100px;
    width: 100%;
    padding: 1px;
    position: fixed;
    display: blocked;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 180%;
    margin: 2% 0 1% 0;
    padding: 3%;
    color: #2f4f4f;
}


/* Media querris */

/* For larger to medium sizes from 1200px and down */
@media  screen and (max-width: 1200px) {
    #ethos {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 50px 0;
        margin: 0;
    }

    #left-about {
        width: 70%;
        float: left;
        padding: 0;

    }

    #right-about {
        width: 95%;
        float: left;
        padding-left: 30px;
    }

    hr {
        display: none;
    }

    .class-section {
        width: 100%;
        height: 150px;
        clear: both;
        padding: 0;
    }
}