@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato:wght@300&family=Noto+Sans+Mono:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 350;
    color: #3a3a3a;
}

/* Heading and logos */

h1, h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #2f4f4f;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 20px;
}

/* Navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 100%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 45px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #2f4f4f;
}

/* Hero image and cover text */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    color: #fff;
}

#cover-text h2 {
    color: #fff;
}

#hero-image {
    background: url("../images/hero-image.jpg") no-repeat center center;
    width: 100%;
    height: 650px;

    /* Animation zoom effect on loading page */
animation-name: hero-zoom;
animation-duration: 6s;
animation-fill-mode: forwards;
}

/* Create level of zoomfor hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: rgba(59, 43, 59, 0.6);
    
    top: 30px;
    right: 170px;

    position: absolute;

    width: 200px;
    height: 120px;

    padding-top: 30px;
    padding-left: 25px;

}

/* Ethos */

#ethos {
    height: 500px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 50px;
    font-weight: lighter;
}

.left-about {
    padding-top: 25px;
    width: 35%;
    float: left;
}

hr {
    border-top: 2px solid #2f4f4f;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

.right-about {
    padding-top: 25px;
    width: 55%;
    float: right;
}

/* Gallery */

.fotos {
    clear: both;
    line-height: 0;
    column-count:3;
    column-gap: 4;
}

.fotos h4 {
    color: #3a3a3a;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    top: 70px;
    padding-top: 20px;
    padding-left: 15px;
}
